/*POPOVER*/

.popover-button {
  margin-left: 3px;
}

.popoverThing :first-child {
  margin-left: 0;
}

/*THING*/

.thing-title {
  color: rgb(246, 246, 246, 0.5);
  font-size: 8pt;
  line-height: 30px;
  width: 40px;
  overflow: hidden;
}

.table {
  background: grey;
  height: 30px;
  width: 60px;
  margin-bottom: 0 !important;
  position: absolute;
  text-align: center;
  border: 1px solid #525252;
}

.table:hover {
  cursor: pointer;
}

.table:hover .thing-edit-button {
  display: block;
}

.vertical {
  height: 60px;
  width: 30px;
  display: grid;
  grid-template-rows: 40px 20px;
}

.horizontal {
  height: 30px;
  width: 60px;
  display: grid;
  grid-template-columns: 40px 20px;
}

.thing-edit-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  display: none;
}

/*horizontal*/

.horizontal > .thing-edit-button {
  line-height: 30px;
}

/* FOR VERTICAL */

.vertical > .thing-title {
  writing-mode: vertical-rl;
  margin-bottom: 0 !important;
}

/* .vertical > .thing-edit-button {
  line-height: 10px;
} */
